.spacing-control-group {
    margin-bottom: 24px;

    h3 {
        margin-bottom: 16px;
        font-size: 13px;
        text-transform: uppercase;
        color: #1E293B;
    }
}

.spacing-control-row {
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }
}